.footer {
  text-align: center;
}
.footer__text {
  margin: auto;
}
.footer__text {
  font-size: 14px;
  line-height: 16;
}
@media screen and (max-width: 543px) {
  .footer__text {
    line-height: 14px;
  }
}
