.lead-intro {
  max-width: 1280px;
}
.lead-intro__lead {
  margin: auto 148px;
}
.lead-intro__intro {
  margin: 0 auto 92px 148px;
}

@media screen and (max-width: 1023px) {
  .lead-intro__lead {
    margin: auto 0;
  }
  .lead-intro__intro {
    margin: 0 24px 88px;
  }
}

@media screen and (max-width: 543px) {
  .lead-intro__intro {
    margin: 0 1rem 64px;
  }
}
